---
import Layout from '../layouts/Layout.astro';

import ProjectHero from '../components/ProjectHero.astro';
import ProjectGrid from '../components/ProjectGrid.astro';

---

<Layout title="Proyectos | Hogares del Norte">

  
    <ProjectHero />
    <h1 class="text-center text-2xl 2xl:text-5xl 2xl:my-14 text-colorPrimary font-extrabold font-Montserrat uppercase ">Espacios que inspiran</h1>
    <ProjectGrid />
  
  
</Layout>