---
---


<section class="relative h-[80vh] xl:h-screen " data-header-theme="dark">
  <div class="absolute inset-0 ">
    <img src="/Nosotros.webp" alt="Hero Image" class="w-full h-full object-cover hidden xl:flex" />
    <img src="/NosotrosMobil.webp" alt="Hero Image" class="w-full h-full object-cover xl:hidden " />
  </div>
  
  <div class="relative h-full flex flex-col justify-center xl:px-[80px] md:px-12 container mx-auto ">
    <div class="max-w-[950px] text-white px-6 ">
      <a href="/" class="text-base   font-bold mb-4 text-primary flex">
        <span><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg></span>Volver al inicio
      </a>
      <h1 class="text-xl  xl:text-4xl mb-12 opacity-90 xl:max-w-[420px] text-justify font-extrabold font-Montserrat">
       El poder de diseñar
      </h1>
      
    </div>
  </div>
</section>