---
import Piscina from "./Icons/Piscina.astro";
import Gym from './Icons/Gym.astro';
import Portico from './Icons/Portico.astro';
import Cancha from './Icons/Cancha.astro';  
import Parque from './Icons/Parque.astro';
import Perimetro from './Icons/Perimetro.astro';
---

<section class="grid grid-cols-1 xl:grid-cols-2 xl:px-[80px] mt-14 my-16 px-6 md:px-12 container mx-auto">
<div >
    <h2 class="text-3xl font-bold text-colorPrimary mb-12">¡Lotes frente al Colegio San Agustín! </h2>
    <div class="text-justify flex flex-col gap-6">
        <p>¿Te imaginas vivir en la cima de la ciudad? El espacio que imaginaste lo diseñamos para ti en Sauco. Sé parte de un hito que revolucionará Lima, ubicado en la gran Av. JAVIER PRADO y a un paso de la Vía expresa, conectado para disfrutar más de tu tiempo</p>
    <p>Un edificio ecoamigable, con certificación Mi Vivienda Verde, con un diseño prioriza el cuidado del medio ambiente y te permitirá ahorrar en el consumo mensual de agua, energía y mantenimiento.</p>
    <img src="/src/assets/Panoramica.webp" alt="" class="w-full my-4">
    
    <p>Diseñado por el reconocido arquitecto Gabriel Mazzini, con 95 metros de altura, un diseño extraordinario y futurista que transmite modernidad. Espacios llenos de iluminación natural y ventilación. Más de 10 áreas comunes para hacer de cada día una experiencia en la cima de tus sueños.</p>
    <div class="flex justify-between md:justify-center md:gap-12 lg:justify-between items-center">
        <div class="flex flex-col gap-2 my-2 border-2 w-fit px-4 xl:px-8 py-2 xl:py-4 border-colorPrimary rounded-tl-xl rounded-br-xl items-center bg-white justify-center">
            <p class="text-sm xl:text-xl font-bold text-colorPrimary">2-3</p>
             <p class="text-sm xl:text-xl font-bold text-primary">Ambientes</p>
        </div>
        <div class="flex flex-col gap-2  text-sm xl:text-xl">
            <p>DESDE: <span class="font-bold">68m2</span></p>
            <p>HASTA: <span class="font-bold">90.21m2</span></p>
        </div>
        <div class="flex flex-col gap-2  text-xl pl-4 xl:pl-6 border-l-2 border-colorPrimary ">
            <p class="text-sm xl:text-xl">DESDE: </p>
            <p class="font-bold text:xl xltext-3xl">S/ 364</p>
        </div>
    </div>
    <p>Con el respaldo de <span class="font-bold">+18 años de experiencia, +49 proyectos entregados y +5,000 familias viven en su verdadero hogar.</span></p>
    <div class="flex flex-col gap-2">
        <p>– Ubicación: Av. Javier Prado Este N° 1091, Frente al colegio San Agustín. ​</p>
        <p>– Financiamiento: Proyecto financiado por BCP​</p>
        <p>– Beneficios: Acceso al bono mi vivienda Grado III.</p>
        <p>– Proyecto cumple con estándar EDGE*</p>
        <p>– Equipamiento: Cocina encimera + Campana extractora + Horno. Incluye Luces LED y Terma para departamentos con beneficio del bono verde.​</p>
        <p>– Fecha de entrega aproximada Torre A : Mayo 2025; Torre B: Junio 2025​</p>

    </div>
    <p>(*)Aplica para el dpto. 2209 – B de 01 dormitorio, de 56.46 m2. Sujeto a disponibilidad. Precio incluye descuento.​
        NEOINVERSIONES INMOBILIARIA SAC – RUC: 20601678579</p>
    </div>
    
    
    <div class="mt-12 ">
        <h2 class="text-3xl font-bold text-colorPrimary mb-12">Nuestras areas <span class="text-primary">para disfrutar</span></h2>
        <div class="flex justify-between  items-center mt-12  ">
            <div class="flex flex-col gap-6">
                 <div class="flex items-center gap-4 ">
                <div class="text-primary2 ">
                    <Piscina class=" "></Piscina>
                </div>
                <p class="text-sm xl:text-xl">Piscina</p>
            </div>
<div class="flex items-center gap-4 ">
                <div class="text-primary2 ">
                    <Parque class=" "></Parque>
                </div>
                <p class="text-sm xl:text-xl">Parque Zonal</p>
            </div>

            <div class="flex items-center gap-4 ">
                <div class="text-primary2 ">
                    <Perimetro class=" "></Perimetro>
                </div>
                <p class="text-sm xl:text-xl">Cerco Perimetrico</p>
            </div>

            </div>
           
           
            


            <div class="flex flex-col gap-6">

            <div class="flex items-center gap-4 ">
                <div class="text-primary2 ">
                    <Portico class=" "></>
                </div>
                <p class="text-sm xl:text-xl">Portico</p>
            </div>
                 <div class="flex items-center gap-4 ">
                <div class="text-primary2 ">
                    <Gym class=" "></Gym>
                </div>
                <p class="text-sm xl:text-xl">Gimnasio</p>
            </div>
            
            <div class="flex  gap-4 ">
                <div class="text-primary2 ">
                    <Cancha ></Cancha>
                </div>
                <p class="text-sm xl:text-xl max-w-10 ">Cancha Sintetica</p>
            </div>
            </div>
           
        </div>
        <img src="/assets/vista.webp" alt="" class="w-full mt-[100px]">
    </div>
</div>
    
</section>