---
import Logo from './Icons/Logo.astro';
import SheetMenu from './SheetMenu';

---

<header id="landing-header" class="shadow-sm fixed w-full z-50 transition-colors duration-700  " >
  <div class="container mx-auto px-6 md:px-12 py-5 flex justify-between items-center  xl:px-[80px]">
    <a href="/" class="flex items-center">
      <Logo />
    </a>
    
    <nav class="hidden md:flex space-x-8">
      <a href="/proyectos" class="text-current hover:text-primary transition-colors">Proyectos</a>
      <a href="/nosotros" class="text-current hover:text-primary transition-colors">Nosotros</a>
      <a href="/lotes" class="text-current hover:text-primary transition-colors font-medium">Lotes</a>
    </nav>
    
    <div class="flex md:hidden">
      <SheetMenu client:load/>
    </div>
      
   
  </div>
</header>

<style>


   #landing-header {
    background: white;
    color: #36281F;
    transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
}

#landing-header.dark {
    background: transparent;
    color: white !important;
}

#landing-header.light {
    background: white !important;
    color: #36281F !important;
}

#landing-header.light-bg {
    
    color: black !important; 
}

 
</style>


<script>
  const $header = document.querySelector("#landing-header") as HTMLElement;
  const sections = document.querySelectorAll("section[data-header-theme]");

  const intersectionOptions = {
    root: null,
    rootMargin: "0px",
    threshold: 0.1
  };

  const observer = new IntersectionObserver((entries) => {
 
    let algunaInterseccion = false;
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        algunaInterseccion = true;
        const theme = entry.target.getAttribute("data-header-theme");
        if (theme === "dark") {
          $header.classList.add("dark");
          $header.classList.remove("light", "light-bg");
        } else if (theme === "light") {
          $header.classList.add("light", "light-bg");
          $header.classList.remove("dark");
        }
      }
    });
 
    if (!algunaInterseccion) {
      $header.classList.remove("dark", "light", "light-bg");
    }
  }, intersectionOptions);

  sections.forEach(section => observer.observe(section));
</script>




