---
---

<section class="relative h-screen px-2" data-header-theme="dark">
  <div class="absolute inset-0 ">
    <img src="/hero.jpg" alt="Hero Image" class="w-full h-full object-cover" />
    
  </div>
  
  <div class="relative container mx-auto px-4 md:px-12  h-full flex flex-col  justify-center xl:px-[80px] ">
    <div class="max-w-[950px]  text-white">
      <h1 class="text-xl md:text-3xl xl:text-4xl font-bold mb-12">
        EXCLUSIVIDAD Y SEGURIDAD<br />
        EL HOGAR QUE MERECES
      </h1>
      <p class="text-sm max-w-[220px] md:max-w-[350px] xl:text-base  mb-12 opacity-90 xl:max-w-[420px] ">
        Descubre un exclusivo departamento ubicado en la zona de mayor estatus de la ciudad. En un entorno donde la seguridad es primordial, espacios amplios y confortables, acabados de primera y confort en cada detalle. Una experiencia de un refugio diseñado para protegerte y regalarte el estilo de vida que siempre has soñado.
      </p>
      <a href="" class="inline-block bg-primary2 hover:bg-opacity-90 text-white font-medium py-3 px-6 rounded-[8px] transition-colors text-base ">
        Agenda tu visita
      </a>
    </div>
  </div>
</section>