---
---

<section data-header-theme="light" class=" pt-16 pb-10 rounded-lg ">
  <div class="xl:px-[80px] py-8 px-6 md:px-12 container mx-auto ">
    <div class="grid grid-cols-2 xl:gap-8 items-center bg-gradient-to-r from-[#A07856] via-[#C4A484] to-[#36281F] pl-[13px] xl:pl-[40px] xl:py-16 py-8 rounded-3xl">
      <div class="">
        <h1 class="text-base xl:text-3xl font-bold text-white mb-4 ">Descubre nuestros proyectos</h1>
        <p class="text-white mb-6 text-xs xl:text-base hidden md:flex">
          Conoce nuestras propuestas inmobiliarias diseñadas para cada estilo de vida, seguridad y exclusividad en las mejores ubicaciones.
        </p>
      </div>
      <div class="relative ">
    
       <img src="/assets/Proyectos.webp" alt="" class="xl:w-[500px]  w-full absolute right-0 -top-3 md:-top-[70px]  xl:-top-[90px] xl:right-0">
      </div>
    </div>
  </div>
</section>